In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
vacc_df = pd.read_csv("vaci.csv")
vacc_df.head(5)

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Afghanistan,AFG,EMRO,REPORTING,2021-08-20,1201286.0,770542.0,3.086,1.979,430744.0,1.107,"Beijing CNBG - BBIBP-CorV,Janssen - Ad26.COV 2...",2021-02-22,4.0
1,Albania,ALB,EURO,OWID,2021-08-17,1340339.0,764997.0,46.575,26.583,575342.0,19.992,"AstraZeneca - AZD1222, Pfizer BioNTech - Comir...",NaN,4.0
2,Algeria,DZA,AFRO,REPORTING,2021-08-23,4146091.0,3421279.0,9.455,7.802,724812.0,1.653,"Beijing CNBG - BBIBP-CorV,Gamaleya - Sputnik V...",2021-01-30,3.0
3,American Samoa,ASM,WPRO,REPORTING,2021-08-09,52769.0,29210.0,95.601,52.920,24104.0,43.669,"Janssen - Ad26.COV 2.5,Moderna - mRNA-1273,Pfi...",2020-12-21,3.0
4,Andorra,AND,EURO,OWID,2021-08-15,91660.0,51044.0,118.631,66.064,40616.0,52.567,"AstraZeneca - AZD1222, Pfizer BioNTech - Comir...",NaN,2.0

In [3]:
# Number of observations and variables
vacc_df.shape

(227, 14)

In [4]:
# Summary information about the dataset
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   COUNTRY                               227 non-null    object
 1   ISO3                                  227 non-null    object
 2   WHO_REGION                            227 non-null    object
 3   DATA_SOURCE                           227 non-null    object
 4   DATE_UPDATED                          227 non-null    object
 5   TOTAL_VACCINATIONS                    226 non-null    float64
 6   PERSONS_VACCINATED_1PLUS_DOSE         218 non-null    float64
 7   TOTAL_VACCINATIONS_PER100             226 non-null    float64
 8   PERSONS_VACCINATED_1PLUS_DOSE_PER100  218 non-null    float64
 9   PERSONS_FULLY_VACCINATED              216 non-null    float64
 10  PERSONS_FULLY_VACCINATED_PER100       216 non-null    float64
 11  VACCINES_USED                         223 non-null    object
 12  FIRST_VACCINE_DATE                    155 non-null    object
 13  NUMBER_VACCINES_TYPES_USED            223 non-null    float64
dtypes: float64(7), object(7)
memory usage: 25.0+ KB

In [5]:
# Number of missing values by columns in the dataset
vacc_df.isna().sum()

COUNTRY                                  0
ISO3                                     0
WHO_REGION                               0
DATA_SOURCE                              0
DATE_UPDATED                             0
TOTAL_VACCINATIONS                       1
PERSONS_VACCINATED_1PLUS_DOSE            9
TOTAL_VACCINATIONS_PER100                1
PERSONS_VACCINATED_1PLUS_DOSE_PER100     9
PERSONS_FULLY_VACCINATED                11
PERSONS_FULLY_VACCINATED_PER100         11
VACCINES_USED                            4
FIRST_VACCINE_DATE                      72
NUMBER_VACCINES_TYPES_USED               4
dtype: int64

In [6]:
# Are there any duplicate rows?
vacc_df.duplicated().sum()

0

In [7]:
# Numerical statistics of numerical variables
vacc_df.describe().T

,count,mean,std,min,25%,50%,75%,max
TOTAL_VACCINATIONS,226.0,2.044237e+07,1.268902e+08,73.000,99878.75000,898811.0000,6.258963e+06,1.776816e+09
PERSONS_VACCINATED_1PLUS_DOSE,218.0,8.253955e+06,3.473510e+07,37.000,69330.75000,566050.5000,3.764875e+06,4.357201e+08
TOTAL_VACCINATIONS_PER100,226.0,6.312819e+01,5.160872e+01,0.078,13.01225,53.3145,1.098962e+02,2.332080e+02
PERSONS_VACCINATED_1PLUS_DOSE_PER100,218.0,3.585499e+01,2.688502e+01,0.067,9.62900,32.5940,6.108375e+01,1.169330e+02
PERSONS_FULLY_VACCINATED,216.0,4.889511e+06,1.641628e+07,36.000,33325.00000,324729.0000,2.511654e+06,1.701386e+08
PERSONS_FULLY_VACCINATED_PER100,216.0,2.812897e+01,2.523977e+01,0.007,3.70150,22.0230,5.161950e+01,1.162740e+02
NUMBER_VACCINES_TYPES_USED,223.0,3.219731e+00,1.703511e+00,1.000,2.00000,3.0000,4.000000e+00,9.000000e+00

In [8]:
print(vacc_df["WHO_REGION"].value_counts())
vacc_df.iloc[117, 2] = "EURO"

EURO     60
AMRO     53
AFRO     46
WPRO     35
EMRO     22
SEARO    10
OTHER     1
Name: WHO_REGION, dtype: int64

In [9]:
vacc_df["WHO_REGION"] = vacc_df["WHO_REGION"].astype("category")
vacc_df["DATA_SOURCE"] = vacc_df["DATA_SOURCE"].astype("category")
vacc_df["DATE_UPDATED"] = pd.to_datetime(vacc_df["DATE_UPDATED"])
vacc_df["FIRST_VACCINE_DATE"] = pd.to_datetime(vacc_df["FIRST_VACCINE_DATE"])

In [10]:
vacc_df["COUNTRY_POPULATION"] = (100 * vacc_df["PERSONS_FULLY_VACCINATED"]) / vacc_df["PERSONS_FULLY_VACCINATED_PER100"]

In [11]:
vacc_df.iloc[:, [0, 2, 3, -4, -3, -2, -1]].sort_values("NUMBER_VACCINES_TYPES_USED", ascending = False).head(5)

,COUNTRY,WHO_REGION,DATA_SOURCE,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,COUNTRY_POPULATION
160,Philippines,WPRO,REPORTING,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-03-01,9.0,1.134727e+08
154,Pakistan,EMRO,REPORTING,"Beijing CNBG - BBIBP-CorV,Bharat - Covaxin,Can...",2021-02-03,8.0,2.208912e+08
123,Maldives,SEARO,REPORTING,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-01,8.0,5.405418e+05
16,Bangladesh,SEARO,REPORTING,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-01-27,8.0,1.646819e+08
201,Thailand,SEARO,REPORTING,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-28,7.0,6.980183e+07

In [12]:
pd.DataFrame(vacc_df.WHO_REGION.value_counts())

       WHO_REGION
EURO           61
AMRO           53
AFRO           46
WPRO           35
EMRO           22
SEARO          10

In [13]:
vacc_df.groupby("WHO_REGION").mean()

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,NUMBER_VACCINES_TYPES_USED,COUNTRY_POPULATION
WHO_REGION,,,,,,,,
AFRO,9.835349e+05,6.719012e+05,14.867891,9.481356,3.487698e+05,6.265800,1.891304,2.381195e+07
AMRO,1.618624e+07,1.033887e+07,75.126245,43.606314,6.753603e+06,33.414058,3.265306,1.911262e+07
EMRO,8.616122e+06,5.649655e+06,44.730000,21.839000,2.795704e+06,14.373450,5.000000,3.582252e+07
EURO,1.402782e+07,8.013134e+06,93.943150,51.854552,6.672941e+06,44.678414,3.213115,1.543949e+07
SEARO,7.209461e+07,5.447744e+07,52.368500,32.773600,1.761717e+07,19.594900,5.400000,1.995610e+08
WPRO,5.613407e+07,3.509268e+06,70.200686,40.991912,2.262452e+06,31.664484,3.171429,1.603555e+07

In [14]:
pd.DataFrame(vacc_df.DATA_SOURCE.value_counts())

           DATA_SOURCE
REPORTING          164
OWID                63

In [15]:
columns = vacc_df.columns[5:11]
top_countries = {"FEATURE":[], "COUNTRY": [], "VALUE":[]}
for col in columns:
    top_df = vacc_df.sort_values(col, ascending = False).head(3)[["COUNTRY", col]]
    for idx in range(3):
        top_countries["FEATURE"] += [col]
        top_countries["COUNTRY"] += [top_df.iloc[idx][0]]
        top_countries["VALUE"] += [top_df.iloc[idx][1]]
top_countries = pd.DataFrame(top_countries).set_index(["FEATURE","COUNTRY"])
top_countries

                                                                      VALUE
FEATURE                              COUNTRY
TOTAL_VACCINATIONS                   China                     1.776816e+09
                                     India                     5.606520e+08
                                     United States of America  3.611922e+08
PERSONS_VACCINATED_1PLUS_DOSE        India                     4.357201e+08
                                     United States of America  2.051088e+08
                                     Brazil                    1.198680e+08
TOTAL_VACCINATIONS_PER100            Gibraltar                 2.332080e+02
                                     United Arab Emirates      1.790920e+02
                                     Malta                     1.536900e+02
PERSONS_VACCINATED_1PLUS_DOSE_PER100 Gibraltar                 1.169330e+02
                                     Palau                     8.551800e+01
                                     Malta                     7.980500e+01
PERSONS_FULLY_VACCINATED             United States of America  1.701386e+08
                                     India                     1.249320e+08
                                     Brazil                    5.043810e+07
PERSONS_FULLY_VACCINATED_PER100      Gibraltar                 1.162740e+02
                                     Malta                     7.946200e+01
                                     Palau                     7.484500e+01

In [16]:
vacc_df[~vacc_df["FIRST_VACCINE_DATE"].isna()].sort_values("FIRST_VACCINE_DATE").head(5)[["COUNTRY", "FIRST_VACCINE_DATE"]]

                              COUNTRY FIRST_VACCINE_DATE
15                            Bahrain         2020-11-04
111  Lao People's Democratic Republic         2020-11-25
37                             Canada         2020-12-14
215              United Arab Emirates         2020-12-14
217          United States of America         2020-12-14

In [17]:
vacc_df[~vacc_df["FIRST_VACCINE_DATE"].isna()].sort_values("FIRST_VACCINE_DATE").tail(5)[["COUNTRY", "FIRST_VACCINE_DATE"]]

          COUNTRY FIRST_VACCINE_DATE
33   Burkina Faso         2021-06-02
220       Vanuatu         2021-06-02
40           Chad         2021-06-04
148          Niue         2021-06-08
205       Tokelau         2021-07-20

In [19]:
vacc_dict = {}
vacc_used_df = vacc_df[~vacc_df.VACCINES_USED.isna()]
for i in vacc_used_df.VACCINES_USED:
    for j in i.split(','):
        j = j.strip()
        if j not in vacc_dict:
            vacc_dict[j] = 1
        else:
            vacc_dict[j] += 1
            
vacc_used = pd.DataFrame({"VACCINE_TYPE": vacc_dict.keys(), "NUM_OF_COUNTRIES_USING": vacc_dict.values()}).set_index("VACCINE_TYPE").sort_values("NUM_OF_COUNTRIES_USING", ascending = False)
vacc_used.head(3)

                             NUM_OF_COUNTRIES_USING
VACCINE_TYPE
Pfizer BioNTech - Comirnaty                     134
SII - Covishield                                 87
Moderna - mRNA-1273                              86